<!DOCTYPE html>
<html lang="en" ng-app = "app">
<head>
  <!-- Basic Page Needs-->
  <meta charset="utf-8">
  <title>loudCloud</title>
  <meta name="description" content="music for the weather">
  <meta name="author" content="">

  <!-- Mobile Specific Metas-->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Favicon -->
  <link rel="icon" type="image/png" href="">

  <!-- Javascripting -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script><!-- load jquery -->
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script><!-- load angular -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>

  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <link rel="stylesheet" type="text/css" href="/css/responsive.css">

</head>

<body ng-controller="config">
<h1 class = "padding-left" id = "header">loudCloud</h1>
<div class = "container padding-bottom padding-top padding-left">
  <h1> Tell us how you feel about these weathers: </h1>

  <form ng-submit="submit()" id="config" role="form">
    <!-- weather types -->
    <div class="weatherTypes" ng-repeat="weatherType in weatherTypes">
      <div id = {{weatherType.type}}>
        <h3>{{weatherType.type}}</h3>
        <input type="radio" value="cheerful" name={{weatherType.type}} id="a">   Cheerful
        <input type="radio" value="calm" name={{weatherType.type}} id="b">   Calm
        <input type="radio" value="sad" name={{weatherType.type}} id="c">   Sad
        <input type="radio" value="grumpy" name={{weatherType.type}} id="d">   Grumpy   <br>
      </div>
    </div>
    <h1>Where's your weather? </h1>
    <input class="zipcode" type="text" name="zipcode" placeholder="zipcode, please"><br>
    <input class="btn-submit" type="submit" value="submit">
  </form>
</div>

<script type="text/javascript" src="/js/configController.js"></script>
</body>
