<!DOCTYPE html>
<html lang="en" ng-app = "loudCloud">
<head>
  <!-- Basic Page Needs-->
  <meta charset="utf-8">
  <title>loudCloud</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas-->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT -->
  <link href="" rel="stylesheet" type="text/css">

  <!-- CSS -->
  <link rel="stylesheet" type = "text/css" href="">


  <!-- Favicon -->
  <link rel="icon" type="image/png" href="">

<!-- Javascripting -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script><!-- load jquery -->
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script><!-- load angular -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
</head>

<body>
  <h2> loudCloud </h2>
  <h4> welcome to loudCloud. answer a few questions and enter your location to get started. </h4>

  <script type="text/javascript" src="/javascripts/indexController.js"></script>
</body>
</html>
