<!DOCTYPE html>
<html lang="en" ng-app = "app">
<head>
<meta charset="utf-8">
<title>loudCloud</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- load angular -->
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>

	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<link rel="stylesheet" type="text/css" href="/css/responsive.css">
</head>

<body ng-controller="index">

	<nav class="navbar navbar-custom">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navstyle navbar-brand" href="#">loudCloud</a>
			</div>
			<ul class="nav navbar-nav">
				<li><a class="navhover navstyle" href="/config">Settings</a></li>
				<li><a class="navhover navstyle" href="/logout">Logout</a></li>
			</ul>
		</div>
	</nav>

	<div class="container-fluid">
		<div class="row">
			<div>
				<div class="col-md-4">
					<img src="/images/loudCloudLogo.png">
					<h2>It's {{weather}} outside!</h2>
		  		<h3>You're listening to {{playlist.name}} by {{playlist.owner.id}}</h3><br>
					<iframe src="https://embed.spotify.com/?uri={{playlist.uri}}" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript" src="/js/indexController.js"></script>

</body>
</html>
