<!DOCTYPE html>
<html lang="en" ng-app = "app">
<head>
<meta charset="utf-8">
<title>loudCloud</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Add jQuery library -->
<script type="text/javascript" src="js/jquery-1.10.1.min.js"></script>
<!-- load angular -->
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>

	<link rel="stylesheet" type="text/css" href="/css/animate.min.css">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/css/lightbox.css">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<link rel="stylesheet" type="text/css" href="/css/prettyPhoto.css">
	<link rel="stylesheet" type="text/css" href="/css/responsive.css">

</head>
<body ng-controller="index">
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container"> <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a> <a class="brand" href="#profile"></a>
      <ul class="nav nav-collapse pull-right">
        <li><a href="/config"><i class="icon-user"></i> Settings</a></li>
        <li><a href="/logout"><i class="icon-off"></i> Logout</a></li>
      </ul>
    </div>
  </div>
</div>

<p>
{{weather}}
{{playlists}}
</p>

<script type="text/javascript" src="/js/indexController.js"></script>

</body>
</html>
